@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/*------------------------------Navigace-------------------------------*/
nav {
    color: white;
    background-color: #363636;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
}

nav h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    font-weight: bold;
    font-size: 19px;
}

nav span {
    margin: 40px;
}

nav a {
    color: white;
    text-decoration: none;
}

#mobile {
    display: none;
}

#mobile ul {
    display: none;
}

#showList {
    font-size: 25px;
    cursor: pointer;
    transition: 500ms;
}

#showList:hover {
    color: #4285F4;
}

#mobile input {
    display: none;
}

#mobile ul {
    position: absolute;
    top: 75px;
    left: 0;
    margin: 0;
    background-color: #434343;
    width: 100vw;
}

#mobile ul li {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: center;
}

#mobile input:checked + ul {
    display: block;
}

#mobile a {
    font-family: Arial, sans-serif;
    font-weight: lighter;
}

nav a {
    transition: 500ms;
}

nav a:hover {
    color: #4285F4;
}

.ac {
    color: grey;
}

.ac:hover {
    color: grey;
    cursor: not-allowed;
}

body {
    background-color: #d7d7d7;
}

/*------------------------------Kontakt-------------------------------*/
#kontakt {
    background-color: #d7d7d7;
}

.obsah {
    width: 100%;
    height: calc(100vh - 145px);
}

.con-container {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

#kontakt form {
    border: 3px solid black;
    border-radius: 50px;
    width: 80vw;
    max-width: 800px;
    height: 500px;
    transition: 500ms;
}

.con-container h2 {
    text-align: center;
}

.tof {
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.in label {
    display: inline-block;
    width: 70px;
    margin-left: 30px;
}

.in input {
    width: 350px;
    height: 20px;
    padding: 3px;
    margin: 10px;
    border: none;
}

.in textarea {
    width: 350px;
    padding: 3px;
    margin: 10px;
    resize: none;
    height: 100px;
    border: none;
}

.in input:focus {
    outline: 2px solid #4285F4;
    color: #4285F4;
}

.in input:focus::placeholder{
    color: #72a4fd;
}

.in textarea:focus{
    outline: 2px solid #4285F4;
    color: #4285F4;
}

.in textarea:focus::placeholder{
    color: #72a4fd;
}


.con-container button {
    width: 350px;
    height: 30px;
    background-color: #4285F4;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 115px;
}

.con-container button:active {
    transform: scale(.95);
}

/*------------------------------Galerie----------------------------*/

.container {
    display: flex;
    width: 80vw;
}

.fotka {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    transition: flex 0.7s ease-in;
}

.fotka:hover {
    flex: 1.5;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.podnadpis {
    text-align: center;
    margin-bottom: 0;
    font-size: 30px;
}

/*------------------------------Mobil-------------------------------*/
@media screen and (max-width: 800px) {
    #normal {
        display: none;
    }

    #mobile {
        display: flex;
    }

    .in textarea {
        width: 200px;
        padding: 3px;
        margin: 10px;
        resize: none;
        height: 100px;
    }

    .in input {
        width: 200px;
    }

    .con-container button {
        width: 200px;
    }
}

@media screen and (max-width: 1300px){
    .container {
        display: none;
    }

}
